<div class="app-container">
  <div class="header-wrapper">
    <div class="info-header">
      <span class="info-list-item">
        <span class="item-text">{{ 'INFO.ADDRESS' | translate }}</span>
        <i class="icon-location"></i>
      </span>
      <span class="info-list-item">
        <span class="item-text"> {{ 'INFO.EMAIL' | translate }} </span>
        <i class="icon-envelope"></i>
      </span>
      <span class="info-list-item">
        <span class="item-text"> {{ 'INFO.PHONE' | translate }} </span>
        <i class="icon-phone"></i>
      </span>
    </div>
    <div class="menu-header">
      <mat-toolbar>
        <mat-toolbar-row class="top-menu">
          <button class="menu-btn" mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
          <div class="menu-items-wrapper">
            <!-- The following menu items will be hidden on both SM and XS screen sizes -->
            <a [routerLink]="'home'" mat-list-item >{{ 'SECTIONS.HOME' | translate }}</a>
            <a [routerLink]="'about'" mat-list-item>{{ 'SECTIONS.ABOUT' | translate }}</a>
            <a href="#" mat-list-item>{{ 'SECTIONS.BUSINESS_FIELDS.TITLE' | translate }}</a>
            <a href="#" mat-list-item>{{ 'SECTIONS.ARTICLES' | translate }}</a>
            <a href="#" mat-list-item>{{ 'SECTIONS.CONTACT' | translate }}</a>
          </div>
          <i class="icon-full-logo"></i>
          <i class="icon-logo"></i>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>
  </div>

  <mat-sidenav-container>
    <mat-sidenav #sidenav position="end">

      <mat-nav-list>
        <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
        <a [routerLink]="'home'" mat-list-item >{{ 'SECTIONS.HOME' | translate }}</a>
        <a [routerLink]="'about'" mat-list-item>{{ 'SECTIONS.ABOUT' | translate }}</a>
        <a href="#" mat-list-item>{{ 'SECTIONS.BUSINESS_FIELDS.TITLE' | translate }}</a>
        <a href="#" mat-list-item>{{ 'SECTIONS.ARTICLES' | translate }}</a>
        <a href="#" mat-list-item>{{ 'SECTIONS.CONTACT' | translate }}</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <div class="footer-wrapper">
    <div class="upper-footer">
      <div class="contact">
        <h3 class="column-title">
          {{ 'SECTIONS.CONTACT' | translate }}
        </h3>
        <span class="column-text">
            {{ 'INFO.PHONE' | translate }}
        </span>
        <span class="column-text">
          {{ 'INFO.ADDRESS' | translate }}
        </span>
        <span class="column-text">
          {{ 'INFO.EMAIL' | translate }}
        </span>
      </div>
      <div class="business-fields">
        <h3 class="column-title">
          {{ 'SECTIONS.CONTACT' | translate }}
        </h3>
        <span class="column-text">
            {{ 'INFO.PHONE' | translate }}
        </span>
        <span class="column-text">
          {{ 'INFO.ADDRESS' | translate }}
        </span>
        <span class="column-text">
          {{ 'INFO.EMAIL' | translate }}
        </span>
      </div>
      <div class="map">
        <h3 class="column-title">
          {{ 'SECTIONS.CONTACT' | translate }}
        </h3>
        <span class="column-text">
            {{ 'INFO.PHONE' | translate }}
        </span>
        <span class="column-text">
          {{ 'INFO.ADDRESS' | translate }}
        </span>
        <span class="column-text">
          {{ 'INFO.EMAIL' | translate }}
        </span>
      </div>
    </div>
    <div class="lower-footer">
       {{ 'COPYRIGHTS' | translate }}
    </div>
  </div>
</div>
