<div class="upper-background">
  <div class="opacity"></div>
  <div class="slogan">
    {{ 'PAGES.HOME.SLOGAN' | translate }}
  </div>
</div>

<div class="page-content">
  <section>
    <h3 class="title">
      {{ 'PAGES.HOME.SUMMARY.TITLE' | translate }}
    </h3>
    <div class="text">
      {{ 'PAGES.HOME.SUMMARY.CONTENT' | translate }}
    </div>
  </section>

  <section>
    <h3 class="title">
      {{ 'PAGES.HOME.BUSINESS_FIELDS.TITLE' | translate }}
    </h3>
    <div class="field-cards-wrapper">
      <div class="field-card">
        <i class="icon-building"></i>
        <p class="field-card-title">{{ 'PAGES.HOME.BUSINESS_FIELDS.FIELDS.REAL_ESTATE_LAW' | translate }}</p>
        <!--<p class="field-card-summary"></p>-->
      </div>
      <!--<div class="separator"></div>-->

      <div class="field-card">
        <i class="icon-building"></i>
        <p class="field-card-title">{{ 'PAGES.HOME.BUSINESS_FIELDS.FIELDS.TAMA' | translate }}</p>
        <!--<p class="field-card-summary"></p>-->
      </div>
      <!--<div class="separator"></div>-->

      <div class="field-card">
        <i class="icon-building"></i>
        <p class="field-card-title">{{ 'PAGES.HOME.BUSINESS_FIELDS.FIELDS.REAL_ESTATE_TAX' | translate }}</p>
        <!--<p class="field-card-summary"></p>-->
      </div>

      <div class="break"></div>

      <div class="field-card">
        <i class="icon-building"></i>
        <p class="field-card-title">{{ 'PAGES.HOME.BUSINESS_FIELDS.FIELDS.COMMERCIAL' | translate }}</p>
        <!--<p class="field-card-summary"></p>-->
      </div>

      <div class="field-card">
        <i class="icon-building"></i>
        <p class="field-card-title">{{ 'PAGES.HOME.BUSINESS_FIELDS.FIELDS.CONSTRUCTION' | translate }}</p>
        <!--<p class="field-card-summary"></p>-->
      </div>
    </div>
  </section>

  <section>
    <h3 class="title">
      {{ 'MENU.CONTACT' | translate }}
    </h3>
    <app-contact-form></app-contact-form>
  </section>
</div>
